:root {
  --color-red: rgb(200, 0, 0);

  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  hyphens: auto;

  font-size: 16px;

  color: white;

  @media (min-width: 768px) {
    font-size: 20px;
  }
}

body {
  background-color: var(--color-red);
  margin: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0.7em;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  margin-top: 0.9em;
  margin-bottom: 0.4em;
  line-height: 1.3;
  hyphens: none;
  color: black;
}

h4 {
  font-size: 1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border-top: 0.2em solid white;
  padding-top: 0.5em;
}

h4 + h2 {
  margin-top: 0.1em;
}

.node-image:not(.header),
.node-text,
.node-grid {
  width: 94%;
  margin: 0 auto;

  @media (min-width: 768px) {
    max-width: 40rem;
  }
}

.node-image.header {
  display: flex;
  align-items: center;
  justify-content: end;

  img {
    max-width: 70em;
  }
}

.node-page {
  padding-bottom: 6em;
}

.header + .node-text {
  margin-top: max(-25vw, -17rem);
  background-color: var(--color-red);
  position: relative;
  padding-top: 1vw;
}

img {
  width: 100%;
  display: block;
}

:root {
  --node-gird--count: 12;
  --node-grid-column--count: 1;
}

.node-grid {
  display: var(--grid--display, grid);
  grid-template-columns: repeat(var(--node-gird--count), 1fr);
  grid-column-gap: var(--grid--grid-column-gap, 1.5rem);
}

.node-grid-column {
  grid-column: span var(--node-grid-column--count);
}

.logo img {
  width: 40%;
  @media (min-width: 768px) {
    width: 30%;
  }
}

a {
  color: black;

  text-decoration: underline;
  text-decoration-color: white;
  text-decoration-line: underline;
  text-decoration-thickness: 0.15em;
  text-underline-offset: 0.3em;

  &:hover {
    color: inherit;
  }
}
